@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Honk";
  src: url("/fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Domine";
  src: url("/fonts/Domine-Regular.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Size */
  --text-mobile-h1: 45px;
  --text-mobile-h2: 36px;
  --text-mobile-h3: 14px;
  --text-mobile-h4: 12px;
  --text-mobile-p: 12px;

  --text-computer-h1: 128px;
  --text-computer-h2: 90px;
  --text-computer-h3: 64px;
  --text-computer-h4: 32px;
  --text-computer-p: 20px;

  /*Typografi */
  --font-heading: "futura-pt", sans-serif;
  --font-body: "inter", sans-serif;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
