@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Size */
  --text-mobile-h1: 45px;
  --text-mobile-h2: 36px;
  --text-mobile-h3: 14px;
  --text-mobile-h4: 12px;
  --text-mobile-p: 12px;
  --text-mobile-ctasmall: 12px;
  --text-mobile-ctalarge: 15px;

  --text-computer-h1: 128px;
  --text-computer-h2: 90px;
  --text-computer-h3: 64px;
  --text-computer-h4: 32px;
  --text-computer-p: 20px;
  --text-computer-ctasmall: 16px;
  --text-computer-ctalarge: 20px;

  /*Typografi */
  --font-heading: "futura-pt", sans-serif;
  --font-body: "inter", sans-serif;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
