@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Size */
  --text-mobile-h1: 55px;
  --text-mobile-h2: 45px;
  --text-mobile-h3: 24px;
  --text-mobile-h4: 16px;
  --text-mobile-p: 12px;
  --text-mobile-ctasmall: 12px;
  --text-mobile-ctalarge: 15px;

  --text-computer-h1: 9.2vw;
  --text-computer-h2: 6vw;
  --text-computer-h3: 64px;
  --text-computer-h4: 32px;
  --text-computer-p: 18px;
  --text-computer-ctasmall: 16px;
  --text-computer-ctalarge: 20px;

  /*Typografi */
  --font-heading: "futura-pt", sans-serif;
  --font-body: "inter", sans-serif;

  /* Colours */
  --colour-white-100: #ffffff;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
