---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Countdown from "../components/countdown.astro";
import Button from "../components/Button.astro";
import Polaroidbox from "../components/polaroidbox.astro";
---

<MainLayout title="Titel">
  <main class="container mx-auto p-8">
    <!-- SECTION 1 -->
    <section class="mt-8">
      <div class="grid grid-cols-12 grid-rows-[auto_auto] lg:gap-8 items-start gap-4">
        <div class="lg:col-span-8 lg:row-start-1 col-span-12"><Heading htmlheading="h1" size="xlarge" font="display" transform="uppercase">Instant Day</Heading></div>
        <img src="/ocean.png" alt="ocean" class="lg:col-start-10 lg:col-span-3 lg:row-start-1 lg:row-span-2 row-span-6 col-span-5 col-start-9" />
        <img src="/sunset.jpg" alt="sunset" class="lg:col-span-5 lg:grid grid-cols-subgrid gap-4 lg:row-span-6 col-span-8" />
        <img src="/burgerking.jpg" alt="burgerking" class="lg:col-start-6 lg:col-span-4 row-start-2 hidden lg:block" />
        <div class="lg:col-start-7 lg:col-span-5 lg:row-start-3 col-start-7"><Countdown /></div>
      </div>
    </section>

    <!-- SECTION 1 -->

    <section>
      <div class="lg:grid grid-cols-12 lg:grid-rows-[auto_auto] lg:gap-8 items-start">
        <div class="lg:col-span-5 lg:row-start-2 mt-10">
          <Heading htmlheading="h2" size="large" font="display" transform="uppercase">October 8</Heading>
        </div>
        <div class="lg:col-span-3 lg:row-start-3 hidden lg:block">
          <Heading htmlheading="h2" size="large" font="display" transform="uppercase">2025</Heading>
        </div>
        <div class="mb-8 lg:col-span-4 lg:col-start-4 lg:row-start-3 lg:-ml-22">
          <Text teksttype="brødtekst" font="body">October 8 is Instant Day - a day all about celebrating instant photography. So get out your Polaroid, Instax or whatever instant photography camera you are using, and show us your instants.</Text>
          <Text teksttype="brødtekst"
            >Instant Day isn't really a photo competition, it's more a homage to good old analogue, instant photography - everybody who participates are winners. But: We do have a nice prize for one lucky instant photographer!</Text
          >
        </div>
        <div class="mb-8 lg:col-start-6 lg:col-span-3 lg:row-start-1 lg:-mt-25">
          <Button>Share your instant</Button>
        </div>
        <img src="/Symaskine.png" alt="Symaskine" class="hidden lg:block lg:col-start-9 lg:col-span-4 lg:row-start-1 lg:row-span-6 lg:-mt-25" />
      </div>
    </section>

    <!-- SECTION 3 -->

    <section>
      <div class="lg:grid grid-cols-12 lg:grid-rows-[auto_auto] lg:gap-8 items-start">
        <div class="lg:col-start-6 lg:col-span-6 lg:row-start-4 lg:row-span-1">
          <Heading htmlheading="h2" size="large" font="display" transform="uppercase">WHY<br />INSTANT <br />PHOTOGRAPHY?</Heading>
        </div>
        <img src="/burgerking.jpg" alt="burgerking" class="lg:col-start-6 lg:col-span-4 row-start-2 block lg:hidden w-[70%] ml-auto my-10" />

        <div class="lg:col-start-6 lg:col-span-6 lg:row-start-5 row-span-3">
          <Text teksttype="brødtekst" font="body"
            >Instant Photography is a testament to life: It all started back in the 1940’s with a 3 year old kid. She wanted to see her fathers images right away. The father, Edwin Land, embarked on a mission: To invent instant photography.
          </Text>
          <Text teksttype="brødtekst" font="body">
            Half a decade later, Edwin Land launched Instant photography and established the Polaroid brand. Instant photography turned into big business in the 70’s and 80’s, until the digital era almost killed the industry.</Text
          >
          <Text teksttype="brødtekst" font="body">
            The massive amount of time wasted on the small screens have spurred a counterreaction: Analogue, off-line experiences have become popular again. And instant photography is just that: An analogue, life-affirming and tactile photography
            experience. So let's celebrate life, and make memories.</Text
          >
        </div>
        <img src="/smoke.jpg" alt="smoke" class="hidden lg:block lg:col-start-1 lg:col-span-5 lg:row-start-1 lg:row-span-5" />
        <img src="/tree.png" alt="tree" class="hidden lg:block lg:col-start-10 lg:col-span-2 lg:row-start-1 lg:row-span-6" />
        <img src="/bridge.jpg" alt="bridge" class="hidden lg:block lg:col-start-3 lg:col-span-3 lg:row-start-7 lg:row-span-3" />
        <img src="/buildings.jpg" alt="buildings" class="hidden lg:block lg:col-start-8 lg:col-span-4 lg:row-start-8 lg:row-span-3" />
        <img src="/pinkwater.jpg" alt="pinkwater" class="hidden lg:block lg:col-start-4 lg:col-span-3 lg:row-start-10 lg:row-span-3 mt-10" />
      </div>
    </section>

    <!-- SECTION 4 -->

    <section class="my-20">
      <div>
        <Heading htmlheading="h2" size="large" font="display" transform="uppercase">How to <br />participate</Heading>
      </div>

      <div class="grid grid-cols-2 lg:grid lg:grid-cols-4 gap-4">
        <div class="mt-10">
          <div class="text-center">
            <Heading htmlheading="h3" size="xlarge" font="display" transform="uppercase">01</Heading>
          </div>
          <Polaroidbox>SCAN YOUR INSTANT</Polaroidbox>
        </div>

        <div class="mt-20">
          <div class="text-center">
            <div><Heading htmlheading="h3" size="xlarge" font="display" transform="uppercase">02</Heading></div>
          </div>
          <Polaroidbox>UPLOAD PHOTO</Polaroidbox>
        </div>

        <div class="mt-10">
          <div class="text-center">
            <Heading htmlheading="h3" size="xlarge" font="display" transform="uppercase">03</Heading>
          </div>
          <Polaroidbox>AGREE TO TERMS OF SERVICE</Polaroidbox>
        </div>

        <div class="mt-20">
          <div class="text-center">
            <div><Heading htmlheading="h3" size="xlarge" font="display" transform="uppercase">04</Heading></div>
          </div>
          <div class="hidden lg:block">
            <Polaroidbox>YOU CAN MAKE UP TO 5 SUBMISSIONS</Polaroidbox>
          </div>

          <div class="block lg:hidden">
            <Polaroidbox>SUBMIT INSTANT</Polaroidbox>
          </div>
        </div>
      </div>

      <div class="flex justify-center mt-15">
        <Button>Share your instant</Button>
      </div>
    </section>

    <!-- SECTION 5 -->
    <section class="my-30">
      <div><Heading htmlheading="h2" size="large" font="display" transform="uppercase">INSPIRATION</Heading></div>
      <div class="mb-10"><Heading htmlheading="h4" size="small" font="display" transform="uppercase">TAKE A LOOK AT SOME OF THE SUBMISSIONS FROM THE PAST FOR INSPIRATION</Heading></div>

      <div class="grid grid-cols-12 grid-rows-[auto_auto] lg:gap-8 items-start">
        <div class="lg:col-start-1 lg:col-span-5 lg:row-start-1 lg:row-span-6 col-span-7 col-start-5 row-start-2 row-span-1 mt-15">
          <img src="/water.jpg" alt="water" />
          <p><strong>AMAGER FORBRÆNDING</strong></p>
          <p><strong>SUBMITTER - </strong> Stefan Grage</p>
          <p><strong>STORY -</strong> I'd give my right arm for a cigarette. Taken with a Lomomatic Square.</p>
        </div>

        <div class="lg:col-start-7 lg:col-span-5 lg:row-start-6 lg:row-span-1 lg:mt-20 col-start-1 col-span-7 row-start-1 row-span-1">
          <img src="/stones.jpg" alt="americaplads" />
          <p><strong>AMAGER FÆLLED</strong></p>
          <p><strong>SUBMITTER - </strong> Stefan Grage</p>
          <p><strong>STORY -</strong> A little snap from Amager Fælled, a large common in the southwestern part of Copenhagen, Denmark. Taken with a Lomomatic Square.</p>
        </div>
      </div>

      <div class="grid grid-cols-12 grid-rows-[auto_auto] lg:gap-8 items-start">
        <div class="lg:col-start-1 lg:col-span-4 lg:row-start-1 lg:row-span-6 lg:-mt-50 col-start-1 col-span-7 row-span-1 row-start-1 mt-20">
          <img src="/bridge2.jpg" alt="water" />
          <p><strong>AMAGER FORBRÆNDING</strong></p>
          <p><strong>SUBMITTER - </strong> Stefan Grage</p>
          <p><strong>STORY -</strong> I'd give my right arm for a cigarette. Taken with a Lomomatic Square.</p>
        </div>

        <div class="lg:col-start-6 lg:col-span-6 lg:row-start-3 lg:row-span-1 col-start-2 col-span-10 row-span-2 row-start-2 mt-15">
          <img src="/street.jpg" alt="street" />
          <p><strong>AMAGER FÆLLED</strong></p>
          <p><strong>SUBMITTER - </strong> Stefan Grage</p>
          <p><strong>STORY -</strong> A little snap from Amager Fælled, a large common in the southwestern part of Copenhagen, Denmark. Taken with a Lomomatic Square.</p>
        </div>
      </div>

      <div class="grid grid-cols-12 grid-rows-[auto_auto] lg:gap-8 items-start lg:mt-0 mt-10">
        <div class="lg:col-start-1 lg:col-span-4 lg:row-start-1 lg:row-span-6 col-start-1 col-span-7 row-start-1">
          <img src="/citylights.jpg" alt="water" />
          <p><strong>AMAGER FORBRÆNDING</strong></p>
          <p><strong>SUBMITTER - </strong> Stefan Grage</p>
          <p><strong>STORY -</strong> I'd give my right arm for a cigarette. Taken with a Lomomatic Square.</p>
        </div>

        <div class="lg:col-start-7 lg:col-span-5 lg:row-start-6 lg:row-span-1 col-start-5 col-span-7 row-start-2 mt-15">
          <img src="/americaplads.jpg" alt="street" />
          <p><strong>AMAGER FÆLLED</strong></p>
          <p><strong>SUBMITTER - </strong> Stefan Grage</p>
          <p><strong>STORY -</strong> A little snap from Amager Fælled, a large common in the southwestern part of Copenhagen, Denmark. Taken with a Lomomatic Square.</p>
        </div>
      </div>
    </section>
  </main>
</MainLayout>
