---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Countdown from "../components/Countdown.astro";
import Button from "../components/Button.astro";
import Polaroidbox from "../components/polaroidbox.astro";
---

<MainLayout title="Titel">
  <main class="container mx-auto p-8">
    <!-- SECTION 1 -->
    <section class="mt-8">
      <div class="grid grid-cols-12 grid-rows-[auto_auto] lg:gap-8 items-start gap-4">
        <div class="lg:col-span-8 lg:row-start-1 col-span-12"><Heading htmlheading="h1" size="xlarge" font="display" transform="uppercase">Instant Day</Heading></div>
        <img src="/ocean.png" alt="ocean" class="lg:col-start-10 lg:col-span-3 lg:row-start-1 lg:row-span-2 row-span-6 col-span-5 col-start-9 intersect:animate-fade-left intersect:duration-[5000ms]" />
        <img src="/sunset.jpg" alt="sunset" class="lg:col-span-5 lg:grid grid-cols-subgrid gap-4 lg:row-span-6 col-span-8 intersect:animate-fade-right intersect:duration-[5000ms]" />
        <img src="/burgerking.jpg" alt="burgerking" class="lg:col-start-6 lg:col-span-4 row-start-2 hidden lg:block intersect:animate-fade-up intersect:duration-[5000ms]" />
        <div class="lg:col-start-7 lg:col-span-5 lg:row-start-3 col-start-7"><Countdown /></div>
      </div>
    </section>

    <!-- SECTION 1 -->

    <section>
      <div class="lg:grid grid-cols-12 lg:grid-rows-[auto_auto] lg:gap-8 items-start">
        <div class="lg:col-span-5 lg:row-start-2 mt-10 intersect:animate-fade-right intersect:duration-[5000ms]">
          <Heading htmlheading="h2" size="large" font="display" transform="uppercase">October 8</Heading>
        </div>
        <div class="lg:col-span-3 lg:row-start-3 hidden lg:block intersect:animate-fade-left intersect:duration-[5000ms]">
          <Heading htmlheading="h2" size="large" font="display" transform="uppercase">2025</Heading>
        </div>
        <div class="mb-8 lg:col-span-4 lg:col-start-4 lg:row-start-3 lg:-ml-22">
          <Text teksttype="brødtekst" font="body">October 8 is Instant Day - a day all about celebrating instant photography. So get out your Polaroid, Instax or whatever instant photography camera you are using, and show us your instants.</Text>
          <Text teksttype="brødtekst"
            >Instant Day isn't really a photo competition, it's more a homage to good old analogue, instant photography - everybody who participates are winners. But: We do have a nice prize for one lucky instant photographer!</Text
          >
        </div>
        <div class="mb-8 lg:col-start-6 lg:col-span-3 lg:row-start-1 lg:-mt-25">
          <a href="/share/">
            <Button>Share your instant</Button>
          </a>
        </div>
        <img src="/Symaskine.png" alt="Symaskine" class="hidden lg:block lg:col-start-9 lg:col-span-4 lg:row-start-1 lg:row-span-6 lg:-mt-25 intersect:animate-fade-left intersect:duration-[6000ms]" />
      </div>
    </section>

    <!-- SECTION 3 -->

    <section>
      <div class="lg:grid grid-cols-12 lg:grid-rows-[auto_auto] lg:gap-8 items-start">
        <div class="lg:col-start-6 lg:col-span-6 lg:row-start-4 lg:row-span-1 intersect:animate-fade-down intersect:duration-[6000ms]">
          <Heading htmlheading="h2" size="large" font="display" transform="uppercase">WHY<br />INSTANT <br />PHOTOGRAPHY?</Heading>
        </div>
        <img src="/burgerking.jpg" alt="burgerking" class="lg:col-start-6 lg:col-span-4 row-start-2 block lg:hidden w-[70%] ml-auto my-10" />

        <div class="lg:col-start-6 lg:col-span-6 lg:row-start-5 row-span-3">
          <Text teksttype="brødtekst" font="body"
            >Instant Photography is a testament to life: It all started back in the 1940’s with a 3 year old kid. She wanted to see her fathers images right away. The father, Edwin Land, embarked on a mission: To invent instant photography.
          </Text>
          <Text teksttype="brødtekst" font="body">
            Half a decade later, Edwin Land launched Instant photography and established the Polaroid brand. Instant photography turned into big business in the 70’s and 80’s, until the digital era almost killed the industry.</Text
          >
          <Text teksttype="brødtekst" font="body">
            The massive amount of time wasted on the small screens have spurred a counterreaction: Analogue, off-line experiences have become popular again. And instant photography is just that: An analogue, life-affirming and tactile photography
            experience. So let's celebrate life, and make memories.</Text
          >
        </div>
        <img src="/smoke.jpg" alt="smoke" class="hidden lg:block lg:col-start-1 lg:col-span-5 lg:row-start-1 lg:row-span-5 intersect:animate-fade-right intersect:duration-[6000ms]" />
        <img src="/tree.png" alt="tree" class="hidden lg:block lg:col-start-10 lg:col-span-2 lg:row-start-1 lg:row-span-6 intersect:animate-fade-down intersect:duration-[6000ms]" />
        <img src="/bridge.jpg" alt="bridge" class="hidden lg:block lg:col-start-3 lg:col-span-3 lg:row-start-7 lg:row-span-3 intersect:animate-fade-right intersect:duration-[6000ms]" />
        <img src="/buildings.jpg" alt="buildings" class="hidden lg:block lg:col-start-8 lg:col-span-4 lg:row-start-8 lg:row-span-3 intersect:animate-fade-left intersect:duration-[6000ms]" />
        <img src="/pinkwater.jpg" alt="pinkwater" class="hidden lg:block lg:col-start-4 lg:col-span-3 lg:row-start-10 lg:row-span-3 mt-10 intersect:animate-fade-up intersect:duration-[6000ms]" />
      </div>
    </section>

    <!-- SECTION 4 -->

    <section class="my-20">
      <div class="intersect:animate-fade-down intersect:duration-[6000ms]">
        <Heading htmlheading="h2" size="large" font="display" transform="uppercase">How to <br />participate</Heading>
      </div>

      <div class="grid grid-cols-2 lg:grid lg:grid-cols-4 gap-4">
        <div class="mt-10 intersect:animate-fade-down intersect:duration-[6000ms]">
          <div class="text-center">
            <Heading htmlheading="h3" size="xlarge" font="display" transform="uppercase">01</Heading>
          </div>
          <Polaroidbox>SCAN YOUR INSTANT</Polaroidbox>
        </div>

        <div class="mt-20 intersect:animate-fade-up intersect:duration-[6000ms]">
          <div class="text-center">
            <div><Heading htmlheading="h3" size="xlarge" font="display" transform="uppercase">02</Heading></div>
          </div>
          <Polaroidbox>UPLOAD PHOTO</Polaroidbox>
        </div>

        <div class="mt-10 intersect:animate-fade-down intersect:duration-[6000ms]">
          <div class="text-center">
            <Heading htmlheading="h3" size="xlarge" font="display" transform="uppercase">03</Heading>
          </div>
          <Polaroidbox>AGREE TO TERMS OF SERVICE</Polaroidbox>
        </div>

        <div class="mt-20 intersect:animate-fade-up intersect:duration-[6000ms]">
          <div class="text-center">
            <div><Heading htmlheading="h3" size="xlarge" font="display" transform="uppercase">04</Heading></div>
          </div>
          <div class="hidden lg:block">
            <Polaroidbox>YOU CAN MAKE UP TO 5 SUBMISSIONS</Polaroidbox>
          </div>

          <div class="block lg:hidden">
            <Polaroidbox>SUBMIT INSTANT</Polaroidbox>
          </div>
        </div>
      </div>

      <div class="flex justify-center mt-15">
        <a href="/share/">
          <Button size="large">Share your instant</Button>
        </a>
      </div>
    </section>

    <!-- SECTION 5 -->
    <section class="my-30">
      <div class="intersect:animate-fade-down intersect:duration-[6000ms]">
        <div><Heading htmlheading="h2" size="large" font="display" transform="uppercase">INSPIRATION</Heading></div>
      </div>
      <div class="mb-10 mt-5"><Heading htmlheading="h4" size="small" font="display" transform="uppercase">TAKE A LOOK AT SOME OF THE SUBMISSIONS FROM THE PAST FOR INSPIRATION</Heading></div>

      <div class="grid grid-cols-12 grid-rows-[auto_auto] lg:gap-8 items-start">
        <div class="lg:col-start-1 lg:col-span-5 lg:row-start-1 lg:row-span-6 col-span-7 col-start-5 row-start-2 row-span-1 mt-15">
          <img src="/water.jpg" alt="water" class="intersect:animate-fade-right intersect:duration-[6000ms] mb-3" />
          <Text teksttype="brødtekst" font="body">AMAGER FORBRÆNDING</Text>
          <Text teksttype="brødtekst" font="body">SUBMITTER - Stefan Grage</Text>
          <Text teksttype="brødtekst" font="body">STORY - I'd give my right arm for a cigarette. Taken with a Lomomatic Square.</Text>
        </div>

        <div class="lg:col-start-7 lg:col-span-5 lg:row-start-6 lg:row-span-1 lg:mt-20 col-start-1 col-span-7 row-start-1 row-span-1">
          <img src="/stones.jpg" alt="stones" class="intersect:animate-fade-left intersect:duration-[8000ms] mb-3" />
          <Text teksttype="brødtekst" font="body">AMAGER FÆLLED</Text>
          <Text teksttype="brødtekst" font="body">SUBMITTER - Stefan Grage</Text>
          <Text teksttype="brødtekst" font="body">STORY - A little snap from Amager Fælled, a large common in the southwestern part of Copenhagen, Denmark. Taken with a Lomomatic Square.</Text>
        </div>
      </div>

      <div class="grid grid-cols-12 grid-rows-[auto_auto] lg:gap-8 items-start">
        <div class="lg:col-start-1 lg:col-span-4 lg:row-start-1 lg:row-span-6 lg:-mt-50 col-start-1 col-span-7 row-span-1 row-start-1 mt-20">
          <img src="/bridge2.jpg" alt="water" class="intersect:animate-fade-right intersect:duration-[6000ms] mb-3" />
          <Text teksttype="brødtekst" font="body">AMAGER STRAND</Text>
          <Text teksttype="brødtekst" font="body">SUBMITTER - Stefan Grage</Text>
          <Text teksttype="brødtekst" font="body">STORY - From this angle, copenhagen looks like a big city. Taken with a Polaroid Now+ gen 2, with a yellow tint filter. </Text>
        </div>

        <div class="lg:col-start-6 lg:col-span-6 lg:row-start-3 lg:row-span-1 col-start-2 col-span-10 row-span-2 row-start-2 mt-15">
          <img src="/street.jpg" alt="street" class="intersect:animate-fade-left intersect:duration-[6000ms] mb-3" />
          <Text teksttype="brødtekst" font="body">HANDS OFF MY HAPPY MEAL!</Text>
          <Text teksttype="brødtekst" font="body">SUBMITTER - Stefan Grage</Text>
          <Text teksttype="brødtekst" font="body"
            >STORY - A casual snap from Burger King. As it shows, the youngest kid didn't want to share his happy meal (or whatever a kids meal is called in Burger King). Taken with an Instax Mini (can't remember which camera).</Text
          >
        </div>
      </div>

      <div class="grid grid-cols-12 grid-rows-[auto_auto] lg:gap-8 items-start lg:mt-0 mt-10">
        <div class="lg:col-start-1 lg:col-span-4 lg:row-start-1 lg:row-span-6 col-start-1 col-span-7 row-start-1">
          <img src="/citylights.jpg" alt="water" class="intersect:animate-fade-right intersect:duration-[6000ms mb-3" />
          <Text teksttype="brødtekst" font="body">2 X ØRESTAD</Text>
          <Text teksttype="brødtekst" font="body">SUBMITTER - Stefan Grage</Text>
          <Text teksttype="brødtekst" font="body">STORY - A double exposure from my neighbourhood, Ørestad. Taken with a Lomomatic Square.</Text>
        </div>

        <div class="lg:col-start-7 lg:col-span-5 lg:row-start-6 lg:row-span-1 col-start-5 col-span-7 row-start-2 mt-15">
          <img src="/americaplads.jpg" alt="street" class="intersect:animate-fade-left intersect:duration-[6000ms] mb-3" />
          <Text teksttype="brødtekst" font="body">LØSERUP STRAND</Text>
          <Text teksttype="brødtekst" font="body">SUBMITTER - Stefan Grage</Text>
          <Text teksttype="brødtekst" font="body"
            >STORY - Too cold to take a dip. So I took a photo instead. The polaroid had an awful magenta color cast, but I ended up liking it. Taken with a Polaroid Now+ gen 2 and an i-Type film, which I probably stored incorrectly.
          </Text>
        </div>
      </div>
    </section>

    <!-- SECTION 6 -->

    <section class="mb-30">
      <div class="intersect:animate-fade-down intersect:duration-[6000ms]">
        <Heading htmlheading="h2" size="large" font="display" transform="uppercase">ART<br />PHOTOGRAPHY <br />SCENE</Heading>
      </div>
      <div class="mb-15 mt-5"><Heading htmlheading="h4" size="small" font="display" transform="uppercase">YOU CAN ALSO GET A LOT OF INSPIRATION FROM THE ART PHOTOGRAPHY SCENE</Heading></div>

      <div class="flex justify-center">
        <div class="lg:grid lg:grid-cols-2 gap-10 max-w-[900px]">
          <div class="intersect:animate-fade-right intersect:duration-[6000ms]">
            <Polaroidbox variant="gallery"
              ><div class="mb-5 mt-5"><Heading htmlheading="h4" size="small" font="display" transform="uppercase">THE POLAROID COLLECTION</Heading></div>
              <Text teksttype="brødtekst" font="body">
                The massive amount of time wasted on the small screens have spurred a counterreaction: Analogue, off-line experiences have become popular again. And instant photography is just that: An analogue, life-affirming and tactile photography
                experience. So let's celebrate life, and make memories.</Text
              >
            </Polaroidbox>
            <div class="-mt-26 ml-5">
              <a href="https://www.taschen.com/en/books/photography/40752/the-polaroid-book-45th-ed/" target="_blank" rel="noopener noreferrer">
                <Button>Veiw Collection</Button>
              </a>
            </div>
          </div>
          <div class="lg:mt-50 mt-20 intersect:animate-fade-left intersect:duration-[6000ms]">
            <Polaroidbox variant="gallery">
              <div class="mb-5 mt-5">
                <Heading htmlheading="h4" size="small" font="display" transform="uppercase">METTE KELTER</Heading>
              </div>
              <Text teksttype="brødtekst" font="body">
                Mette Kelter is a danish art photographer, who often experiments with deliberate destruction of the chemical process in instant photos. One of the key words here is unpredictability in the work process, which leads to interesting and
                unique artworks.
              </Text>
            </Polaroidbox>
            <div class="-mt-26 ml-5">
              <a href="https://www.kelterphotography.com/" target="_blank" rel="noopener noreferrer">
                <Button>Veiw Collection</Button>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="flex justify-center">
        <div class="lg:grid lg:grid-cols-2 gap-10 max-w-[900px]">
          <div class="mt-20 intersect:animate-fade-right intersect:duration-[6000ms]">
            <Polaroidbox variant="gallery"
              ><div class="mb-5 mt-5"><Heading htmlheading="h4" size="small" font="display" transform="uppercase">DAN ISAAC WALLIN</Heading></div>
              <Text teksttype="brødtekst" font="body"> Dan Isaac Wallin is a swedish art photographer, who uses large format and vintage polaroid cameras for his work. His work hangs in numerous houses as posters. </Text>
            </Polaroidbox>
            <div class="-mt-26 ml-5">
              <a href="hhttps://www.danisaacwallin.com/" target="_blank" rel="noopener noreferrer">
                <Button>Veiw Collection</Button>
              </a>
            </div>
          </div>

          <div class="lg:mt-65 mt-20 intersect:animate-fade-left intersect:duration-[6000ms]">
            <Polaroidbox variant="gallery">
              <div class="mb-5 mt-5">
                <Heading htmlheading="h4" size="small" font="display" transform="uppercase">MARIPOL</Heading>
              </div>
              <Text teksttype="brødtekst" font="body">
                Maripol is a french artist/photographer/film producer. Her claim to fame was in the 1980's, where she photographed famous people with a Polaroid SX-70. Her photographs are still very influential in the fashion industry.
              </Text>
            </Polaroidbox>
            <div class="-mt-26 ml-5">
              <a href="https://en.wikipedia.org/wiki/Maripol" target="_blank" rel="noopener noreferrer">
                <Button>Read More</Button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</MainLayout>
