---
import Heading from "./Heading.astro";
---

<footer class="bg-white text-black grid grid-cols-2 intersect:animate-fade-up intersect:duration-[5000ms]">
  <div class="container mx-auto pl-5 lg:pl-12 col-span-1 col-start-1">
    <Heading font="display" size="xsmall">ABOUT US</Heading>
    <Heading font="display" size="xsmall">TERMS & CONDITIONS</Heading>
  </div>
  <div class="col-span-1 col-start-2 flex justify-end pr-5 lg:pr-12">
    <div class="flex flex-col gap-2 items-start">
      <Heading font="display" size="xsmall">SPONSOR</Heading>
      <a href="https://mit.kea.dk/ek" target="_blank">
        <img src="/ek2.png" alt="EKikon" class="w-40 lg:w-70" />
      </a>
    </div>
  </div>
</footer>
