---
import "../styles/tailwind.css";
import Heading from "./Heading.astro";
import Submit from "./Submit.astro";
---

<div class="flex items-center justify-center mb-20 mt-20">
  <section class="max-w-[600px]">
    <div class="intersect:animate-fade-down intersect:duration-[6000ms]">
      <Heading htmlheading="h1" size="large" font="display" transform="uppercase">Participate here</Heading>
    </div>
    <div>
      <div class="grid grid-cols-2 mb-3 mt-10">
        <!-- NAME -->
        <div class="pr-10">
          <label for="navn"> <Heading htmlheading="h4" size="xsmall" font="display" transform="uppercase">Name</Heading> </label>
          <input type="text" id="name" placeholder="NAME" class="w-full" />
        </div>

        <div class="mb-3">
          <label for="email"><Heading htmlheading="h4" size="xsmall" font="display" transform="uppercase">Email</Heading></label>
          <input type="text" id="navn" placeholder="EMAIL" class="w-full" />
        </div>
      </div>

      <div class="mb-3">
        <label for="submission"><Heading htmlheading="h4" size="xsmall" font="display" transform="uppercase">Submission title</Heading></label>
        <input type="text" id="submission" placeholder="SUBMISSION TITLE" class="w-full mb-3" />
      </div>

      <div class="mb-3">
        <label for="story"><Heading htmlheading="h4" size="xsmall" font="display" transform="uppercase">SUBMISSION DESCRIPTION/STORY </Heading></label>
        <input type="text" id="story" placeholder="SUBMISSION STORY" class="w-full h-25 mb-3" />
      </div>

      <div class="mb-3">
        <label for="story"><Heading htmlheading="h4" size="xsmall" font="display" transform="uppercase">Upload your instant</Heading></label>

        <div class="border-1 p-5 mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 place-self-center">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5"></path>
          </svg>
        </div>
      </div>

      <div class="flex gap-3 mb-5">
        <input type="checkbox" id="toc" name="toc1" value="toc" />
        <label for="toc1"><Heading htmlheading="h4" size="xsmall" font="display" transform="uppercase">I HAVE READ AND AGREE TO THE TERMS AND CONDITIONS</Heading> </label><br />
      </div>

      <div><Submit /></div>
    </div>
  </section>
</div>
