---
---


<header class="flex flex-row justify-between ml-25 mr-25 mb-10">
<div>
    <!-- <img src="/public/instantday_logo.png/" alt="logo"> -->
    <img src="/public/instantday_logo.png" alt="">
</div>

<div class="flex flex-row gap-10 place-self-center font-body">
    <p class="p-2">WINNERS AND NOMINEES</p>
    <p class="p-2">INFO</p>
    <p class="border-2 border-amber-700 p-2 font-semibold">SHARE YOUR INSTANT</p>
</div>

</header>