---
import "../styles/tailwind.css";
---

<section class="md:ml-25 mr-25">
    <h1 class="font-semibold text-7xl">PARTCIPATE HERE</h1>
    

    <div class="grid grid-cols-2">
    <!-- NAME -->
    <div class="pr-10">
    <label for="navn"> NAME </label>
    <br>
      <input type="text" id="name" placeholder="NAME" class="w-full" />
    </div>

    <div class="">
    <label for="email"> EMAIL </label>
    <br>
      <input type="text" id="navn" placeholder="Navn" class="w-full" />
    </div>
    </div>

    <div class="">
    <label for="submission"> SUBMISSION TITLE </label>
    <br>
      <input type="text" id="submission" placeholder="SUBMISSION TITLE" class="w-full" />
    </div>

        <div class="">
    <label for="story"> SUBMISSION STORY </label>
    <br>
      <input type="text" id="story" placeholder="SUBMISSION STORY" class="w-full h-25" />
    </div>

</section>