---
import Heading from "./Heading.astro";
import Text from "./Text.astro";
---

<section class="mt-30">
  <div class="flex items-center mb-10 intersect:animate-fade-down intersect:duration-[6000ms]">
    <Heading htmlheading="h2" size="large" font="display" transform="uppercase"
      >BEST OF 2025
      <br />
      NOMINEES
    </Heading>
  </div>

  <div class="sm:grid grid-cols-2 grid-rows-2 gap-15">
    <!-- box 1 -->
    <div class="col-span-1 col start-1 row-start-1 row-span-1 intersect:animate-fade-right intersect:duration-[6000ms]">
      <div class="mt-5 lg:text-left text-right">
        <Heading htmlheading="h3" size="medium" font="display" transform="uppercase">01</Heading>
      </div>

      <div class="grid grid-cols-2 gap-5">
        <img src="/pinkwater.jpg" alt="pinkwater" class="lg:row-start-2 lg:col-span-1 lg:col-start-1 row-start-1 col-span-1 col-start-2" />

        <div class="lg:col-start-2 lg:row-start-2 col-start-1 row-start-1">
          <Text teksttype="brødtekst" font="body">KARLSTRUP & COFFEE</Text>

          <Text teksttype="brødtekst" font="body">SUBMITTER - Stefan Grage</Text>

          <Text teksttype="brødtekst" font="body">STORY</Text>
          <Text teksttype="brødtekst" font="body"> A little snap from Amager Fælled, a large common in the southwestern part of Copenhagen, Denmark. Taken with a Lomomatic Square.</Text>
        </div>
      </div>
    </div>

    <!-- box 2 -->
    <div class="col-span-1 col-start-2 row-start-2 row-span-2 lg:-mt-30 mt-20 intersect:animate-fade-left intersect:duration-[6000ms]">
      <div class="mt-5">
        <Heading htmlheading="h3" size="medium" font="display" transform="uppercase">02</Heading>
      </div>

      <div class="grid grid-cols-2 gap-5">
        <img src="/ocean.png" alt="ocean" class="row-start-2 col-span-1 col-start-1" />

        <div class="col-start-2 row-start-2">
          <Text teksttype="brødtekst" font="body">KARLSTRUP & COFFEE</Text>

          <Text teksttype="brødtekst" font="body">SUBMITTER - Stefan Grage</Text>

          <Text teksttype="brødtekst" font="body">STORY</Text>
          <Text teksttype="brødtekst" font="body"> A little snap from Amager Fælled, a large common in the southwestern part of Copenhagen, Denmark. Taken with a Lomomatic Square.</Text>
        </div>
      </div>
    </div>
  </div>
  <div class="sm:grid grid-cols-2 grid-rows-2 gap-15">
    <!-- box 3 -->
    <div class="col-span-1 col start-1 row-start-1 row-span-1 lg:-mt-30 mt-20 intersect:animate-fade-right intersect:duration-[6000ms]">
      <div class="mt-5 lg:text-left text-right">
        <Heading htmlheading="h3" size="medium" font="display" transform="uppercase">03</Heading>
      </div>

      <div class="grid grid-cols-2 gap-5">
        <img src="/pinkwater.jpg" alt="pinkwater" class="lg:row-start-2 lg:col-span-1 lg:col-start-1 row-start-1 col-span-1 col-start-2" />

        <div class="lg:col-start-2 lg:row-start-2 col-start-1 row-start-1">
          <Text teksttype="brødtekst" font="body">KARLSTRUP & COFFEE</Text>

          <Text teksttype="brødtekst" font="body">SUBMITTER - Stefan Grage</Text>

          <Text teksttype="brødtekst" font="body">STORY</Text>
          <Text teksttype="brødtekst" font="body"> A little snap from Amager Fælled, a large common in the southwestern part of Copenhagen, Denmark. Taken with a Lomomatic Square.</Text>
        </div>
      </div>
    </div>

    <!-- box 4 -->
    <div class="col-span-1 col-start-2 row-start-2 row-span-2 lg:-mt-40 mt-20 intersect:animate-fade-left intersect:duration-[6000ms]">
      <div class="mt-5">
        <Heading htmlheading="h3" size="medium" font="display" transform="uppercase">04</Heading>
      </div>

      <div class="grid grid-cols-2 gap-5">
        <img src="/ocean.png" alt="ocean" class="row-start-2 col-span-1 col-start-1" />

        <div class="col-start-2 row-start-2">
          <Text teksttype="brødtekst" font="body">KARLSTRUP & COFFEE</Text>

          <Text teksttype="brødtekst" font="body">SUBMITTER - Stefan Grage</Text>

          <Text teksttype="brødtekst" font="body">STORY</Text>
          <Text teksttype="brødtekst" font="body"> A little snap from Amager Fælled, a large common in the southwestern part of Copenhagen, Denmark. Taken with a Lomomatic Square.</Text>
        </div>
      </div>
    </div>
  </div>

  <div class="sm:grid grid-cols-2 grid-rows-2 gap-15">
    <!-- box 5 -->
    <div class="col-span-1 col start-1 row-start-1 row-span-1 lg:-mt-10 mt-20 intersect:animate-fade-right intersect:duration-[6000ms]">
      <div class="mt-5 lg:text-left text-right">
        <Heading htmlheading="h3" size="medium" font="display" transform="uppercase">05</Heading>
      </div>

      <div class="grid grid-cols-2 gap-5">
        <img src="/pinkwater.jpg" alt="pinkwater" class="lg:row-start-2 lg:col-span-1 lg:col-start-1 row-start-1 col-span-1 col-start-2" />

        <div class="lg:col-start-2 lg:row-start-2 col-start-1 row-start-1">
          <Text teksttype="brødtekst" font="body">KARLSTRUP & COFFEE</Text>

          <Text teksttype="brødtekst" font="body">SUBMITTER - Stefan Grage</Text>

          <Text teksttype="brødtekst" font="body">STORY</Text>
          <Text teksttype="brødtekst" font="body"> A little snap from Amager Fælled, a large common in the southwestern part of Copenhagen, Denmark. Taken with a Lomomatic Square.</Text>
        </div>
      </div>
    </div>

    <!-- box 6-->
    <div class="col-span-1 col-start-2 row-start-2 row-span-2 lg:-mt-30 mt-20 mb-20 intersect:animate-fade-left intersect:duration-[6000ms]">
      <div class="mt-5">
        <Heading htmlheading="h3" size="medium" font="display" transform="uppercase">06</Heading>
      </div>

      <div class="grid grid-cols-2 gap-5">
        <img src="/ocean.png" alt="ocean" class="row-start-2 col-span-1 col-start-1" />

        <div class="col-start-2 row-start-2">
          <Text teksttype="brødtekst" font="body">KARLSTRUP & COFFEE</Text>

          <Text teksttype="brødtekst" font="body">SUBMITTER - Stefan Grage</Text>

          <Text teksttype="brødtekst" font="body">STORY</Text>
          <Text teksttype="brødtekst" font="body"> A little snap from Amager Fælled, a large common in the southwestern part of Copenhagen, Denmark. Taken with a Lomomatic Square.</Text>
        </div>
      </div>
    </div>
  </div>
</section>
