---
---

<section>
<h1 class="ml-50 mr-50 mt-30 font-heading text-computer-h2 font-semibold">
    BEST OF 2025 
        <br>
    NOMINEES    
</h1>

<h1 class="sm:inline lg:hidden">MOBILE</h1>
<h1 class="sm:hidden lg:inline">DESK</h1>
    
<div class="sm:grid grid-cols-2 w-200 mr-auto ml-auto mt-20 lg:mr-175">
    <div class="place-self-end mr-10 font-semibold">
        <h1 class="place-self-end text-computer-h4">01</h1>
        <img src="/pinkwater.jpg" alt="" class="h-100">
        </div>

    <div class="col-start-2 mt-10">
        <p class="font-semibold">KARLSTRUP & COFFEE
            <br>
            SUBMITTER
        </p>

        <p>
            Stefan Grage
            <br>
        </p>

        <p class="font-semibold">STORY</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis repudiandae exercitationem quae ut, voluptates laborum reprehenderit. Beatae, laudantium nulla. Ullam numquam itaque ipsum necessitatibus autem.</p>

    </div>
    </div>

    <div class="sm:grid grid-cols-2 w-200 mr-auto ml-auto mt-20 lg:ml-175 -mb-500px">
    <div class="col-start-2 place-self-start mr-10 font-semibold">
        <h1 class="place-self-end text-computer-h4">01</h1>
        <img src="/ocean.png" alt="" class="h-100">
        </div>

    <div class="row-start-1 mt-10">
        <p class="font-semibold">KARLSTRUP & COFFEE
            <br>
            SUBMITTER
        </p>

        <p>
            Stefan Grage
            <br>
        </p>

        <p class="font-semibold">STORY</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis repudiandae exercitationem quae ut, voluptates laborum reprehenderit. Beatae, laudantium nulla. Ullam numquam itaque ipsum necessitatibus autem.</p>

    </div>
    </div>
</section>