---
const { variant = "timeline" } = Astro.props;

// Bas-styling som gäller alla varianter
const baseClasses = " py-3  align-top text-wrap";

// Varianter – här definierar du olika "typer"
const variantClasses = {
  // Din första (den du skickade)
  timeline: "border-b-45  border-t-15 border-x-15 border-gray-100 h-[300px] lg:h-[330px] text-white bg-black text-2xl lg:text-3xl font-heading font-medium max-w-[280px] px-3",

  // Ny variant (t.ex. enklare kort med andra färger)
  gallery: "border-b-80 border-t-20 border-x-20 border-gray-100 h-[500px] lg:h-[500px] text-white bg-black text-2xl lg:text-3xl font-heading font-medium max-w-[400px] mb-10 px-5",
};
---

<div class:list={[baseClasses, variantClasses[variant]]}>
  <slot />
</div>
