<!-- ---
const { variant = "primary", size = "small" } = Astro.props;

const polaroidStyling = "border-y-40 border-x-20 border-gray-50 px-3 py-3 max-w-xs h-[350px] align-top";

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter
const variantClasses = {
  primary: "text-white bg-black" /* border-primary-500 */,
  secondary: "" /* border-secondary-500 */,
};

//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.
const sizeClasses = {
  large: "lg:text-computer-ctalarge text-mobile-ctalarge",
  small: "lg:text-computer-ctasmall text-mobile-ctasmall",
};
--- -->
<div class="border-y-40 border-x-20 border-gray-50 px-3 py-3 max-w-[270px] h-[300px] lg:h-[330px] align-top text-white bg-black lg:text-3xl text-2xl font-heading font-medium text-wrap"><slot /></div>
