---

---

<section class="@container">

    <div class="sm:inline-block lg:hidden">
        <h1>test</h1>

    </div>

    <div class="sm:hidden lg:grid grid-cols-2 ml-50 mr-50">
        <div>
        <h1 class="font-heading text-computer-h2 font-semibold">
            SHARE YOUR
            <br>
            INSTANT
        </h1>
        <p class="font-semibold font-body">READY TO SHARE YOUR INSTANTS? SEE HOW TO PARTICIPATE</p>
        <!-- <Text class="text-computer-h1"> Test </Text> -->
        </div>
        

            <img src="/public/09-amager-strand-nat.jpg" alt="" class="h-100 w-auto place-self-end">

    </div>

    <div class="sm:inline lg:hidden font-heading text-computer-h2 font-semibold">
        <h1 class="ml-20 mr-20" >HOW TO PARTICIPATE?</h1>
    </div>


</section>