---
import Heading from "./Heading.astro";
---

<section class="@container lg:my-20">
  <div class="lg:grid lg:grid-cols-6">
    <div class="lg:col-start-1 col-span-4 mb-10 intersect:animate-fade-down intersect:duration-[6000ms]">
      <Heading htmlheading="h1" size="xlarge" font="display" transform="uppercase">SHARE YOUR INSTANT</Heading>

      <Heading htmlheading="h4" size="small" font="display" transform="uppercase">Ready to share your instants? SEE How to participate</Heading>
    </div>

    <div class="lg:col-start-5 col-span-2 w-100 grid lg:block grid-cols-3 lg:mb-0 mb-20 intersect:animate-fade-left intersect:duration-[6000ms]">
      <img src="/citylights.jpg" alt="" class="col-start-2 col-span-2" />
    </div>
  </div>
</section>
