---
---

<h1 class="sm:hidden lg:inline ml-50 mr-50 mt-30 font-heading text-computer-h2 font-semibold">THE 
    <br>
    WINNER</h1>

<section class="ml-50 mr-50 grid grid-cols-2">

    <img src="/smoke.jpg" alt="" class="h-100 place-self-end mr-10">

    <div>

    <h1 class="sm:inline ml-50 mr-50 mt-30 font-heading text-computer-h2 font-semibold lg:hidden">THE 
    <br>
    WINNER</h1>

    <p class="font-semibold">
        NEW MEETS OLD
        <br>
SUBMITTER
        <p> Stefan Grage</p>
        <br>
    
    <p class="font-semibold">    STORY </p>
I wanted to catch the new city development district, Ørestad, in a shade of old school. So I used a Polaroid Now+ gen 2 in tripod mode with an i-Type black and white film in order to make a long exposure.
    </p>
    </div>

</section>