---

---

<section class="ml-50 mr-50">
    
    <div class="grid grid-cols-2 grid-rows-2">
        <div class="row-start-1">
    <h class="font-heading text-computer-h2 font-semibold">WINNERS & 
        <br>
        NOMINEES</h1>

        <p class="text-mobile-p font-body">
            Instant Day was quite a success with more than 1000 contributions. So it was difficult to find a winner. 
            <br>
            After a couple of long but exciting days, the judges agreed on the winner and the 8 nominees.
        </p>
        </div>
        <img src="/public/Symaskine_i_boernehoejde1.png" alt="" class="h-100 row-start-2 col-start-2">
        </div>
</section>